*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif ;
    background-color: black;
}
.container{
    top: 0;
    position: sticky;
    margin: auto;
    overflow: hidden;
    width:100%;
}
.box-1{

    background-color: black;
    width: 100%; ;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.724);
}
.box-1 h1{
    font-size: 20px;
    color: #ffffff;
    margin-left: 80%;
}
.box-1 .home{
text-decoration: none;
}
.box-1 ul{
    margin-left: 250px;
    display: flex;
    list-style:none;
}
.box-1 ul li{
    display: flex;
}
.box-1 ul li a{
    text-decoration: none;
    color: white;
    padding: 20px 25px;
}
.box-1 ul li a:hover{
    border-bottom: none;
    border-left: none;
    border-right:none;
    border-bottom: 2px solid #ffffff;
    transition: 0.1s  ;
}
.box-1 ul li a.active{
    border-bottom: 2px solid #ffffff;
}
.box-1 .btn {
    text-decoration: none;
    display: flex;
}
.box-1 button{
   color: black;
   background-color: #ffffff;
   margin-left: 300px;
   padding: 2px 25px;
   border: none;
   outline: none;
}
.box-3{
    margin-top: 50px;
    width:100%;
    height: 200px;
}
.box-3 h1{
    font-size: 50px;
    color: #ffffff;
    margin-left: 10%;
}
.box-3 p{
    color: #aaaaaa;
    margin-top: -55px;
    text-align: end;
    margin-right: 135px;
    font-size: 18px;
}
.box-4{
    width: 100%;
    height: 500px;
}
.box-4 img{
   width: 1000px;
   height: 500px;
   margin-left: 135px;
}
.box-5{
    border-top: 2px solid rgba(0, 0, 0, 0.726);
    border-bottom: none;
    border-left: none;
    border-right:none;
    margin-left:135px ;
    width: 1000px;
    height: 120px;
    background-color: #454545; 
    justify-content: center;
}
.box-5 ul{
    list-style-type:none;
    display: flex;
}
.box-5 ul li{
    display: flex;
}
.box-5 ul li img{
    width: 100px;
    height: 100px;
    padding: 10px 75px;
    border-radius: 50%;
    opacity: 0.8;
}
.box-6{
    margin-top: 70px;
    width: 100%;
    height: 400px;
    /*background-color: aquamarine;*/
}
.box-6 h1{
    padding: 10px 0;
    margin-left: 15%;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.box-6 p{
    font-size: 15px;
    color: #aaaaaa;
    margin-left: 15%;
    padding: 20px 0;
}
.box-6 button{
    margin-left: 15%;
    padding: 5px 20px;
    border-radius: none;
    border: none;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}
.box-6 button:hover{
    color: #ffffff;
    background-color: #000;
    transform: translateY(-5px);
    transition: 0.5s;
}
.box-6 img{
    margin-left: 48%;
    width: 400px;
    height:300px;
    margin-top: -240px;
}
.box-7{
    width: 100%;
    height: 700px;
   /* background-color: aquamarine;*/
}
.box-7 .pic-1{
    width: 300px;
    height: 500px;
    margin-left:5%;
     
}
.box-7 .pic-2{
    opacity: 0.8;
    margin-left: 1.5%;
    width: 150px;
    height: 500px;
}
.box-7 h1{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 70%;
    margin-top: -500px;
}
.box-7 p{
    font-size: 15px;
    color: #454545;
    margin-left: 70%;
    margin-top: 50px;
}
.box-7 ul {
    margin-top: 60px;
   float: right;
}
.box-7 ul li{
    color: #ffffff;
    margin-right: 140px;
    margin-top: 20px;
}
.box-7 button{
    float: right;
    margin-top: 290px;
    margin-right: -95px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}
.box-7 button:hover{
    background-color: #000;
    color: #ffffff;
    transition: 0.5s;
}
.box-8{
    width: 100%;
    height: 300px;
    /*background-color: aquamarine;*/
}
.box-8 h1{
    color: #ffffff;
    margin-left: 5%;
    margin-top: -50px
}
.box-8 p{
    margin-left: 5%;
    margin-top: 25px;
    color: #454545;
}
.box-8 .allproject{
    margin-left: 80%;
    margin-top: -25px;
}
.menu {
    margin-left: 3%;
    width: 31.5%;
    height: 120px;
   /* background-color: aquamarine; */
}
.box-8 .menu ul{
    margin-top: 30px;
    display: flex;
    list-style-type: none;
    margin-left: 5%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #aaaaaacc;
}
.box-8 .menu ul li{
    display: flex;
}
.box-8 .menu ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 15px;
}
.box-8 .menu ul li a.active{
    border-bottom:#ffffff 2px solid ;
}
.box-8 .menu ul li a:hover{
    border-bottom: #ffffff 2px solid;
    transition: 0.2s
}
.box-9{
    display: flex;
    margin-left: 5.5%;
    margin-top: -40px;
    width: 100%;
    height: 500px;
   /* background-color: #454545; */
}
.box-9 .img-1{
    margin: 10px;
    width: 350px;
    height: 400px;

}

.box-10{
    display: block;
    margin-left: 5%;
    margin-top: 200px;
    width: 90%;
    height:500px;
    background-image: url(/img/15.jpg);
}
.box-10 .member{
    color: #ffffff;
    font-size: 50px;
    padding-left: 200px;
    padding-top: 100px;
}
.box-10 p{
    font-size: 15px;
    color: #272626;
    margin-left: 30%;
    padding-top:50px ;
}
.box-10 button{
    background-color: #ffffff;
    margin-left: 45%;
    margin-top: 30px;
    padding: 5px 50px;
    border: none;
}
.box-10 button:hover{
    background-color: #000;
    color: #ffffff;
}
.box-10 a{
    background-color: none;
    text-decoration: none;
    color: #ffffff;
}
.box-10 a:hover{
    background-color: none;
    color: #000;
}
